<div class="side-stack">
  <mat-card class="panel mini">
    <header class="mini__header">
      <div class="mini__title-group">
        <mat-icon class="mini__icon">calendar_month</mat-icon>
        <div class="mini__title-copy">
          <h3>Статистика по днях</h3>
          <p>Дні з балансом за вибраний місяць</p>
        </div>
      </div>
      <span class="mini__badge">За датою</span>
    </header>

    <div class="daily-stats" *ngIf="!monthLoading && dailyStats.length; else dailyStatsState">
      <div class="daily-stats__row" *ngFor="let day of dailyStats">
        <div class="daily-stats__top">
          <div class="daily-stats__date">
            <mat-icon>event</mat-icon>
            <strong>{{ day.date + 'T00:00:00' | date: 'd MMM' : '' : 'uk-UA' }}</strong>
          </div>
          <span class="daily-stats__visits">
            <mat-icon>check_circle</mat-icon>
            {{ day.visits }} візит(ів)
          </span>
        </div>

        <div class="daily-stats__metrics">
          <article class="daily-stats__metric">
            <span class="daily-stats__label">
              <mat-icon>payments</mat-icon>
              Дохід лікаря
            </span>
            <strong class="daily-stats__income">{{
              day.doctorIncome | currency: 'UAH' : 'symbol' : '1.0-0' : 'uk-UA'
            }}</strong>
          </article>
          <article class="daily-stats__metric">
            <span class="daily-stats__label">
              <mat-icon>account_balance_wallet</mat-icon>
              Загальна каса
            </span>
            <strong>{{ day.totalAmount | currency: 'UAH' : 'symbol' : '1.0-0' : 'uk-UA' }}</strong>
          </article>
        </div>
      </div>
    </div>

    <ng-template #dailyStatsState>
      <div class="daily-stats daily-stats--skeleton" *ngIf="monthLoading; else emptyDailyStats">
        <div class="daily-stats__row daily-stats__row--skeleton"></div>
        <div class="daily-stats__row daily-stats__row--skeleton"></div>
        <div class="daily-stats__row daily-stats__row--skeleton"></div>
        <div class="daily-stats__row daily-stats__row--skeleton"></div>
      </div>
    </ng-template>

    <ng-template #emptyDailyStats>
      <p class="muted">У цьому місяці ще немає днів із балансом.</p>
    </ng-template>
  </mat-card>
</div>
