<section class="stats" *ngIf="!monthLoading; else statsLoading">
  <article class="stat-card" [ngClass]="'stat-card--' + card.colorKey" *ngFor="let card of cards; let i = index">
    <div class="stat-card__header">
      <div class="stat-card__icon">
        <mat-icon>{{ card.icon }}</mat-icon>
      </div>
      <span class="stat-card__label">{{ card.label }}</span>
      <div
        class="stat-card__badge"
        *ngIf="card.trendPercent !== null"
        [ngClass]="{
          'stat-card__badge--up': card.trendPercent > 0,
          'stat-card__badge--down': card.trendPercent < 0,
          'stat-card__badge--flat': card.trendPercent === 0
        }"
      >
        {{ formatTrend(card.trendPercent) }}
      </div>
    </div>

    <div class="stat-card__body">
      <strong class="stat-card__value">
        <ng-container *ngIf="card.valueFormat === 'currency'">
          {{ card.value | currency: 'UAH' : 'symbol' : '1.0-0' : 'uk-UA' }}
        </ng-container>
        <ng-container *ngIf="card.valueFormat === 'count'">
          {{ card.value }}
        </ng-container>
      </strong>
    </div>

    <div class="stat-card__footer">
      <span class="stat-card__trend-label" *ngIf="card.trendPercent !== null && card.trendPercent !== 0">
        {{ formatTrend(card.trendPercent) }} {{ card.trendLabel }}
      </span>
      <span class="stat-card__trend-label" *ngIf="card.trendPercent === null || card.trendPercent === 0">
        {{ card.trendLabel }}
      </span>

      <div class="stat-card__sparkline" *ngIf="card.chartSeries.length > 1">
        <apx-chart
          [series]="[{ data: card.chartSeries }]"
          [chart]="sparklineChart"
          [stroke]="sparklineStroke"
          [fill]="sparklineFill"
          [colors]="[card.chartColor]"
          [tooltip]="sparklineTooltip"
        ></apx-chart>
      </div>
    </div>
  </article>
</section>

<ng-template #statsLoading>
  <section class="stats stats--skeleton">
    <div class="stat-card stat-card--skeleton" *ngFor="let _ of [1, 2, 3, 4]">
      <div class="skeleton-line skeleton-line--short"></div>
      <div class="skeleton-line skeleton-line--value"></div>
    </div>
  </section>
</ng-template>
