<header class="top">
  <div class="top__brand">
    <div class="top__logo">
      <img src="assets/branding/logo-mark.svg" alt="Doctor Accounting logo" class="brand-logo" />
    </div>
    <div>
      <p class="top__eyebrow">Doctor Accounting</p>
      <h1>Облік прийомів</h1>
    </div>
  </div>

  <div class="top__actions">
    <a routerLink="/settings" class="top__settings" aria-label="Налаштування">
      <mat-icon>settings</mat-icon>
    </a>

    <span class="top__actions-divider" *ngIf="resolvedDisplayName || userEmail" aria-hidden="true"></span>

    <div class="top__account" *ngIf="resolvedDisplayName || userEmail">
      <div class="top__account-trigger" [attr.title]="userHint">
        <span class="top__avatar" [class.top__avatar--image]="!!userPhotoUrl" aria-hidden="true">
          <img *ngIf="userPhotoUrl; else avatarTextTpl" [src]="userPhotoUrl" alt="" />
          <ng-template #avatarTextTpl>{{ avatarText }}</ng-template>
        </span>
        <div class="top__account-info">
          <span class="top__account-name">{{ triggerDisplayName }}</span>
          <span class="top__account-role">Лікар</span>
        </div>
      </div>
    </div>

    <span class="top__actions-divider" *ngIf="resolvedDisplayName || userEmail" aria-hidden="true"></span>

    <button type="button" class="top__logout" *ngIf="resolvedDisplayName || userEmail" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Вийти</span>
    </button>
  </div>
</header>
